{% extends "@App/base_admin.html.twig" %}

{% block flash %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block form %}
    <div class="register">
        <div class="createUser_logo">
            <div class="img">
                <img src="{{ asset('assets/img/logo_test.png') }}" alt="img">
            </div>
            <h2 class="statut"><span>{{ app.user.username }} ! <br> </span>Créez votre lieu ! </h2>


        </div>
        {{ form_start(formMember, {attr: {novalidate: 'novalidate', class:'formulaire'}}) }}
        <div class="form_container">
            <h2>Votre lieu</h2>
            <div class="field">
                {{ form_errors(formMember.first_name) }}
                {{ form_label(formMember.first_name,null,
                    {
                        'label':'Nom',
                    }
                )
                }}
                {{ form_widget(formMember.first_name, {'attr': {"class":'titre'}}) }}
            </div>
            <div class="field">
                {{ form_errors(formMember.last_name) }}
                {{ form_label(formMember.last_name,null,
                    {
                        'label':'Prénom',
                    }
                )
                }}
                {{ form_widget(formMember.last_name, {'attr': {"class":'titre'}}) }}
            </div>

            <div class="field">

            </div>
            <div class="field col-md-4">
                {{ form_errors(formMember.cp) }}
                {{ form_label(formMember.cp,null,
                    {
                        'label':'CP',
                    }
                )
                }}
                {{ form_widget(formMember.cp) }}
            </div>
            <div class="field col-md-4">
                {{ form_errors(formMember.commune) }}
                {{ form_label(formMember.commune,null,
                    {
                        'label':'Commune',
                    }
                )
                }}
                {{ form_widget(formMember.commune) }}
            </div>
            <div class="field col-md-4">
                {{ form_errors(formMember.place_url) }}
                {{ form_label(formMember.place_url,null,
                    {
                        'label':'url',
                    }
                )
                }}
                {{ form_widget(formMember.place_url) }}
            </div>
            <div class="field col-md-4">
                {{ form_errors(formMember.place_mail) }}
                {{ form_label(formMember.place_mail,null,
                    {
                        'label':'email',
                    }
                )
                }}
                {{ form_widget(formMember.place_mail) }}
            </div>
            <div class="field col-md-4">
                {{ form_errors(formMember.place_tel) }}
                {{ form_label(formMember.place_tel,null,
                    {
                        'label':'tel',
                    }
                )
                }}
                {{ form_widget(formMember.place_tel) }}
            </div>
            <div class="field col-md-4">
                {{ form_errors(formMember.place_lat) }}
                {{ form_label(formMember.place_lat,null,
                    {
                        'label':'latitude',
                    }
                )
                }}
                {{ form_widget(formMember.place_lat) }}
            </div>
            <div class="field col-md-4">
                {{ form_errors(formMember.place_long) }}
                {{ form_label(formMember.place_long,null,
                    {
                        'label':'longitude',
                    }
                )
                }}
                {{ form_widget(formMember.place_long) }}
            </div>




            <div class="img_bloc">
                <div class="field">
                    {{ form_errors(formMember.photo) }}
                    {{ form_label(formMember.photo) }}
                    {{ form_widget(formMember.photo, {'attr': {"class":'img'}}) }}

                    {{ form_errors(formMember.photo_alt1) }}
                    {{ form_label(formMember.photo_alt1) }}
                    {{ form_widget(formMember.photo_alt1) }}

                    {{ form_errors(formMember.photo_description1) }}
                    {{ form_label(formMember.photo_description1) }}
                    {{ form_widget(formMember.photo_description1) }}
                </div>
            </div>




            <div class="f_type">
                {{ form_widget(formMember.submit, { 'label': 'soumettre' },{'attr': {"class":'submit'} }) }}
            </div>

        </div>


        {{ form_end(formMember) }}
    </div>
{% endblock %}

