{% extends "@App/base_admin.html.twig" %}

{% block flash %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block form %}
    <div class="register">

        <div class="register container">
            <a id="article-anch" class="anch d-md-none d-lg-block"></a>

            {# ENTETE DU FORMULAIRE #}
            <div class="createUser_logo row">
                <div class="offset-lg-1 d-md-none d-lg-block"></div>
                <div class="statut col-md-12 col-lg-10 row">
                    <h2 class="statut_it col-md-6 col-lg-4">{{ app.user.username }} !</h2>
                    <div class="offset-md-2 d-md-none d-lg-block"></div>
                    <p class="statut_it col-md-6 col-lg-6">
                        <span>Creation Lieu ! </span>
                    </p>
                </div>
                <div class="offset-lg-1 d-none d-lg-block"></div>
            </div>

            {# FORMULAIRE #}

            {{ form_start(formPlace, {attr: {novalidate: 'novalidate', class:'formulaire container-fluid'}}) }}

            <div class="form_container">
                <h1>Votre Lieu</h1>

                {#CHAMPS#}

                {#CORPS DE LA PAGE#}

                <div class="corps row">

                    {# Titre  #}
                    <h2 class="col-12 col-lg-6">Nom du Lieux</h2>
                    <div class="field col-12 ">
                        {{ form_errors(formPlace.nom) }}
                        {{ form_widget(formPlace.nom, {'attr': {"class":'titre'}}) }}
                    </div>
                    {# categorie #}
                    <h2 class="col-12 col-lg-6">Description</h2>
                    <div class="field col-12 col-lg-6 ">
                        {{ form_errors(formPlace.description) }}
                        {{ form_widget(formPlace.description, {'attr': {"class":'titre'}}) }}
                    </div>
                    <h2 class="col-12 col-lg-6">adresse l1</h2>
                    <div class="field col-12 col-lg-6 ">
                        {{ form_errors(formPlace.ad1) }}
                        {{ form_widget(formPlace.ad1, {'attr': {"class":'titre'}}) }}
                    </div>
                    <h2 class="col-12 col-lg-6">adresse l2</h2>
                    <div class="field col-12 col-lg-6 ">
                        {{ form_errors(formPlace.ad2) }}
                        {{ form_widget(formPlace.ad2, {'attr': {"class":'titre'}}) }}
                    </div>
                    <h2 class="col-12 col-lg-6">cp</h2>
                    <div class="field col-12 col-lg-6 ">
                        {{ form_errors(formPlace.cp) }}
                        {{ form_widget(formPlace.cp, {'attr': {"class":'titre'}}) }}
                    </div>
                    <h2 class="col-12 col-lg-6">commune</h2>
                    <div class="field col-12 col-lg-6 ">
                        {{ form_errors(formPlace.commune) }}
                        {{ form_widget(formPlace.commune, {'attr': {"class":'titre'}}) }}
                    </div>
                    <h2 class="col-12 col-lg-6">n° de téléphone</h2>
                    <div class="field col-12 col-lg-6 ">
                        {{ form_errors(formPlace.tel) }}
                        {{ form_widget(formPlace.tel, {'attr': {"class":'titre'}}) }}
                    </div>
                    <h2 class="col-12 col-lg-6">site web</h2>
                    <div class="field col-12 col-lg-6 ">
                        {{ form_errors(formPlace.site) }}
                        {{ form_widget(formPlace.site, {'attr': {"class":'titre'}}) }}
                    </div>
                    <h2 class="col-12 col-lg-6">email</h2>
                    <div class="field col-12 col-lg-6 ">
                        {{ form_errors(formPlace.email) }}
                        {{ form_widget(formPlace.email, {'attr': {"class":'titre'}}) }}
                    </div>
                    <h2 class="col-12 col-lg-6">lien Gmap</h2>
                    <div class="field col-12 col-lg-6 ">
                        {{ form_errors(formPlace.gmap) }}
                        {{ form_widget(formPlace.gmap|raw, {'attr': {"class":'titre'}}) }}
                    </div>


                    {#Evènement#}
                    <h2 class="col-12 col-lg-6">Evènement associé</h2>
                    <div class="field col-12 col-lg-6 ">
                        {{ form_errors(formPlace.leEvent) }}
                        {{ form_widget(formPlace.leEvent) }}
                    </div>

                    {# Séparateur#}
                    <hr>
                </div>
            </div>
        </div>





    <div class="row">
        <div class="offset-6"></div>
        <div class="submit col-lg-4 col-md-6 ">
            {{ form_widget(formPlace.submit, { 'label': 'Publier' } ) }}
        </div>
        <div class="offset-lg-2 offset-md-none offset-lg-block"></div>
    </div>



    {{ form_end(formPlace) }}
    </div>
{% endblock %}

