{% extends "@App/base_admin.html.twig" %}

{% block flash %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block form %}

    <div class="register container">
        <a id="article-anch" class="anch d-none d-md-block"></a>

{# ENTETE DU FORMULAIRE #}
        <div class="createUser_logo row">
            <div class="offset-md-2 d-none d-md-block"></div>
            <h2 class="statut col-6 col-md-4">{{ app.user.username }} !</h2>
            <p class="statut col-6 col-md-4">
                <span>Créez votre spectacle ! </span>
            </p>
            <div class="offset-md-2 d-block d-md-none"></div>
        </div>


{# FORMULAIRE #}
        {{ form_start(formleshow, {attr: {novalidate: 'novalidate', class:'formulaire container'}}) }}

        <div class="form_container">
            <h1>Votre spectacle</h1>

        {#CHAMPS#}

            {#CORPS DE LA PAGE#}

            <div class="corps row">


                <h2 class="col-6 col-md-3">Le titre</h2>
                <div class="field col-6 col-md-3">
                    {{ form_errors(formleshow.titre) }}
                    {{ form_widget(formleshow.titre, {'attr': {"class":'titre'}}) }}
                </div>
                <p class="col-6 col-md-3">dispo</p>
                <div class="field col-6 col-md-3">

                    {{ form_errors(formleshow.dispo_boolean) }}
                    {{ form_widget(formleshow.dispo_boolean, {'attr': {"class":'bouton'}}) }}
                </div>


                <hr class="col-md-11">


                <h2 class="col-8">Texte principal</h2>
                <div class="offset-md-3 d-none d-md-block"></div>
                <div class="offset-md-1 d-none d-md-block"></div>
                <div class="textarea col-8">
                    {{ form_errors(formleshow.text1) }}
                    {{ form_widget(formleshow.text1) }}
                </div>
                <div class="offset-md-3 d-none d-md-block"></div>


                <div class="offset-md-1 d-none d-md-block"></div>
                <div class="field col-6 col-md-4">
                    <p>Image principale</p>
                    {{ form_errors(formleshow.img1) }}
                    {{ form_widget(formleshow.img1, {'attr': {"class":'img'}}) }}
                </div>
                <div class="offset-md-2 d-none d-md-block"></div>
                <div class="field col-6 col-md-4">
                    <p>texte alternatif</p>
                    {{ form_errors(formleshow.img_alt1) }}
                    {{ form_widget(formleshow.img_alt1, {'attr': {"class":'alt'}}) }}
                </div>



                <hr class="col-md-11">


                <div class="offset-md-1 d-none d-md-block"></div>
                <div class="field col-6 col-md-4">
                    <p>Image optionnelle</p>
                    {{ form_errors(formleshow.img2) }}
                    {{ form_widget(formleshow.img2, {'attr': {"class":'img'}}) }}

                </div>
                <div class="offset-md-2 d-none d-md-block"></div>
                <div class="field col-6 col-md-4">
                    <p>texte alternatif</p>
                    {{ form_errors(formleshow.img_alt2) }}
                    {{ form_widget(formleshow.img_alt2, {'attr': {"class":'alt'}}) }}

                </div>

                <hr class="col-md-11">
                <div class="sub col-8">
                    <h2 class="col-12">sous-titre optionnel</h2>
                    {{ form_errors(formleshow.sub2) }}
                    {{ form_widget(formleshow.sub2) }}
                </div>

                <div class="offset-md-4 d-none d-md-block"></div>
                <div class="textarea col-8">

                    <h2>texte optionnel</h2>
                    {{ form_errors(formleshow.text2) }}
                    {{ form_widget(formleshow.text2) }}

                </div>
                <div class="offset-md-4 d-none d-md-block"></div>
                <hr class="col-md-11">

                <div class="sub col-8">
                    <h2>sous-titre optionnel</h2>
                    {{ form_errors(formleshow.sub3) }}
                    {{ form_widget(formleshow.sub3) }}
                </div>
                <div class="offset-md-4 d-none d-md-block"></div>

                <div class="textarea col-8">
                    <h2>texte optionnel</h2>
                    {{ form_errors(formleshow.text3) }}
                    {{ form_widget(formleshow.text3) }}

                </div>
                <hr class="col-md-11">
                <div class="sub col-8">
                    <h2>sous-titre optionnel</h2>
                    {{ form_errors(formleshow.sub4) }}
                    {{ form_widget(formleshow.sub4) }}
                </div>
                <div class="offset-md-4 d-none d-md-block"></div>

                <div class="textarea col-8">
                    <h2>texte optionnel</h2>
                    {{ form_errors(formleshow.text4) }}
                    {{ form_widget(formleshow.text4) }}

                </div>
                <div class="offset-md-4 d-none d-md-block"></div>
            </div>

            {#SLIDER#}
            <div class="col-4 col-md-4">
                <p>presence d'un slider photo?</p>
                <p>
                    {{ form_errors(formleshow.slider_boolean) }}
                    {{ form_widget(formleshow.slider_boolean) }}
                </p>
            </div>


            <div class="corps row">

                <H2 class="col-12">SLIDER</H2>




                <div class="field col-6 col-md-4">
                    <p>Image slider</p>

                    {{ form_errors(formleshow.img3) }}
                    {{ form_widget(formleshow.img3, {'attr': {"class":'img'}}) }}

                </div>
                <div class="offset-md-2 d-none d-md-block"></div>
                <div class="field col-6 col-md-6">
                    <p>texte alternatif</p>
                    {{ form_errors(formleshow.img_alt3) }}
                    {{ form_widget(formleshow.img_alt3, {'attr': {"class":'alt'}}) }}

                </div>

                <hr class="col-11">

                <div class="field col-6 col-md-4">
                    <p>Image slider</p>

                    {{ form_errors(formleshow.img4) }}
                    {{ form_widget(formleshow.img4, {'attr': {"class":'img'}}) }}

                </div>
                <div class="offset-md-2 d-none d-md-block"></div>

                <div class="field col-6 col-md-6">
                    <p>texte alternatif</p>
                    {{ form_errors(formleshow.img_alt4) }}
                    {{ form_widget(formleshow.img_alt4, {'attr': {"class":'alt'}}) }}

                </div>

                <hr class="col-11">

                <div class="field col-6 col-md-4">
                    <p>Image slider</p>

                    {{ form_errors(formleshow.img5) }}
                    {{ form_widget(formleshow.img5, {'attr': {"class":'img'}}) }}

                </div>

                <div class="offset-md-2 d-none d-md-block"></div>
                <div class="field col-6 col-md-6">
                    <p>texte alternatif</p>
                    {{ form_errors(formleshow.img_alt5) }}
                    {{ form_widget(formleshow.img_alt5, {'attr': {"class":'alt'}}) }}

                </div>

                <hr class="col-11">

                <div class="field col-6 col-md-4">
                    <p>Image slider</p>

                    {{ form_errors(formleshow.img6) }}
                    {{ form_widget(formleshow.img6, {'attr': {"class":'img'}}) }}

                </div>
                <div class="offset-md-2 d-none d-md-block"></div>
                <div class="field col-6 col-md-6">
                    <p>texte alternatif</p>
                    {{ form_errors(formleshow.img_alt6) }}
                    {{ form_widget(formleshow.img_alt6, {'attr': {"class":'alt'}}) }}

                </div>

                <hr class="col-11">


                <div class="field col-12">
                    <p>texte slider</p>
                    {{ form_errors(formleshow.sl_caption) }}
                    {{ form_widget(formleshow.sl_caption, {'attr': {"class":'alt'}}) }}

                </div>
            </div>


            {# VIDEO #}

            <div class="offset-md-2 d-none d-md-block"></div>
            <div class="corps col-8 col-12 row">
                <h1 class="col-12">Vidéo</h1>


                <p class="col-6 col-md-3">presence d'une video?</p>
                <p class="col-6 col-md-3">
                    {{ form_errors(formleshow.video_boolean) }}
                    {{ form_widget(formleshow.video_boolean, {'attr': {'class':'case'}}) }}
                </p>
                <div class="offset-md-3 d none d-md-block"></div>
                <div class="offset-md-3 d none d-md-block"></div>
                <p class="col-12 col-md-3">code d'intégration youtube</p>
                <p class="col-12 col-md-9">
                    {{ form_errors(formleshow.youtube) }}
                    {{ form_widget(formleshow.youtube) }}
                </div>

            </div>

            <div class="offset-md-2 d-none d-md-block"></div>
            <div class="corps row">
                <h2 class="field col-12 col-md-6">
                    genre
                </h2>
                <div class="field col-12 col-md-3">
                    {{ form_errors(formleshow.genre) }}
                    {{ form_widget(formleshow.genre, {'attr': {"class":'genre'}}) }}

                </div>
                <div class="offset-md-3"></div>
                <hr class="col-md-11">
                <h2 class="field col-12 col-md-6">
                    date de création
                </h2>
                <div class="field col-12 col-md-3">
                    {{ form_errors(formleshow.creation_date) }}
                    {{ form_widget(formleshow.creation_date, {'attr': {"class":'date'}}) }}

                </div>
                <div class="offset-md-3"></div>
                <hr class="col-11">


                <h2 class="field col-6 col-md-6">
                    durée
                </h2>
                <div class="field col-6 col-md-3">
                    {{ form_errors(formleshow.duree) }}
                    {{ form_widget(formleshow.duree, {'attr': {"class":'date'}}) }}

                </div>
                <div class="offset-md-3"></div>
                <hr class="col-md-11">

                <h2 class="field col-12 col-md-12">
                    ages:
                </h2>
                <p class="field col-6 col-md-2">
                    de
                </p>
                <div class="field col-6 col-md-2">
                    {{ form_errors(formleshow.min_age) }}
                    {{ form_widget(formleshow.min_age, {'attr': {"class":'date'}}) }}

                </div>
                <p class="field col-6 col-md-2">
                    à
                </p>
                <div class="field col-6 col-md-2">
                    {{ form_errors(formleshow.max_age) }}
                    {{ form_widget(formleshow.max_age, {'attr': {"class":'date'}}) }}

                </div>
                <hr class="col-md-11">
                <h2 class="field col-12 col-md-12">
                    nombre d'artistes:
                </h2>
                <p class="field col-6 col-md-2">
                    de
                </p>
                <div class="field col-6 col-md-2">
                    {{ form_errors(formleshow.min_artist) }}
                    {{ form_widget(formleshow.min_artist, {'attr': {"class":'date'}}) }}

                </div>
                <p class="field col-6 col-md-2">
                    à
                </p>
                <div class="field col-6 col-md-2">
                    {{ form_errors(formleshow.max_artist) }}
                    {{ form_widget(formleshow.max_artist, {'attr': {"class":'date'}}) }}

                </div>
                <hr class="col-md-11">
                <h2 class="field col-6">
                    Tarif:
                </h2>
                <div class="field col-6">
                    {{ form_errors(formleshow.tarif) }}
                    {{ form_widget(formleshow.tarif, {'attr': {"class":'date'}}) }}

                </div>
                <h2 class="field col-6">
                    Fiche technique
                </h2>
                <div class="field col-6">
                    {{ form_errors(formleshow.fichetek) }}
                    {{ form_widget(formleshow.fichetek, {'attr': {"class":'date'}}) }}

                </div>

            </div>


            <div class="row">
                <div class="offset-6"></div>
                <div class="submit col-4 ">
                    {{ form_widget(formleshow.submit, { 'label': 'soumettre' },{'attr': {"class":'submit'} }) }}
                </div>
                <div class="offset-md-2 offset-2"></div>
            </div>



        {{ form_end(formleshow) }}
    </div>

{% endblock %}


