{% extends '@App/base_admin.html.twig' %}

{% block tmp_slide %}

    <!-- SLIDER -->
    <!-- Bloc Image -->
    <section id="carouselExampleIndicators" class="carousel slide d-none d-sm-block" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- IMAGE 1265 X 550 -->
                <img class="d-block w-100" src="{{ asset('assets/uploads/'~home.Img2) }}" alt="First slide">
            </div>
            <div class="carousel-item">
                <!-- IMAGE 1265 X 550 -->
                <img class="d-block w-100" src="{{ asset('assets/uploads/'~home.Img3) }}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <!-- IMAGE 1265 X 550 -->
                <img class="d-block w-100" src="{{ asset('assets/uploads/'~home.Img4) }}" alt="Third slide">
            </div>
            <div class="carousel-item">
                <!-- IMAGE 1265 X 550 -->
                <img class="d-block w-100" src="{{ asset('assets/uploads/'~home.Img5) }}" alt="Fourth slide">
            </div>
        </div>
        <div class="carousel-caption d-none d-md-block caption caption2">
            <!-- texte -->
            {{ home.SlCaption }}
            <!-- BOUTONS SCROLL-->
            <a href="#article-anch" class="anch">
                <div class="button button-h">
                    <p>
                        <i class="fas fa-chevron-down"></i>
                    </p>
                </div>
            </a>
        </div>
        <!-- BOUTONS -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </section>
{% endblock %}

{% block content %}
    <!-- CORPS DE LA PAGE -->
    <a id="article-anch" class="anch d-none d-md-block"></a>
    <section class="article-loop article-loop2 container" id="article-loop">
        <div class="row">
            <section class="article-content home row">
                <!-- TITRE de la Page-->
                <div id="title-bloc" class="title-bloc flex-title-bloc col-12 col-md-3">
                    <h2 class="article-h1 flex-h1 h1-event-list" >
                        <i class="fal fa-home-lg"> </i>
                        Accueil
                    </h2>
                    <a href="#article-anch2" class="flex-btn">
                        <div class="button button2 button3">
                            <p><i class="fas fa-chevron-down"></i></p>
                        </div>
                    </a>
                </div>
                <div class="offset-md-1"></div>
                <!-- Image -->
                <div class="col-md-8 col-12" id="home-img">
                    <div class="img-alt-home d-md-block d-none">
                        <img src="{{ asset('assets/uploads/'~home.Img1) }}" alt="{{ home.ImgAlt1 }}" class="thumb-medal flex-thumb thumb-medal2">
                    </div>
                    <!-- Titre paragraphe -->
                    <h2 class="article-h1 article-h2">
                        {{ home.titre }}
                    </h2>
                    <!-- Texte -->
                    <p>
                        {{home.text1}}
                    </p>
                </div>

                <div class="offset-md-2"></div>
            </section>
        </div>
    </section>

    <a class="col-12 d-none d-md-block" id="article-anch2"></a>
    <section class="article-loop article-loop2 video-bloc container-fluid">
        <div class="article-content row">
            <div class="article-loop video-content col-10 col-md-6" id="video">
                {{ home.youtube|raw }}
            </div>
            <div class="offset-lg-1 d-none d-lg-block video-offset"></div>
            <div class="title-bloc video-title-bloc col-md-5">
                <h2 class="article-h1 h1-event-list" id="video-title">
                    <i class="fal fa-video"></i> Videos
                </h2>
                <a href="#article-anch3" class="col-md-12 d-none d-md-block">
                    <div class="button button2 button3">
                        <p>
                            <i class="fas fa-chevron-down"></i>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <a class="col-md-12 d-lg-block d-none" id="article-anch3"></a>
    <section class="article-loop article-loop2 row">
        <div class="title-bloc col-md-5">
            <h2 class="article-h1 h1-event-list a-l-affiche">
                <i class="far fa-theater-masks"></i>
                A L'AFFICHE
            </h2>
            <a href="#article-anch4" class="col-md-12 d-none d-md-block">
                <div class="button button2 button3">
                    <p>
                        <i class="fas fa-chevron-down">

                        </i>
                    </p>
                </div>
            </a>
        </div>

        {% for leShow in leShows %}

            {% if leShow.DispoBoolean == true %}

                <div class="show_1 show4">
                    <a class="row" href="{{path ('admin_show_id', {'id': leShow.id}) }}">
                        <h2 class="h1-medal col-md-6 col-12">
                            {{ leShow.titre }}
                        </h2>
                        <div class="thumb-medal thumb-medal2 col-12 col-md-6">
                            <img src="{{asset('assets/uploads/'~leShow.Img1)}}" alt="{{ leShow.ImgAlt1 }}" class="affiche">
                        </div>
                        <div class="offset-md-6 d-md-block d-none"></div>
                        <p class=" medal-text col-md-12">
                            {{ leShow.Text1 }}
                        </p>
                    </a>
                </div>

            {% endif %}
        {% endfor %}


    </section>

    {#<a id="article-anch4" class="d-none d-md-block"></a>#}
    {#<div class="article-loop row article-loop2 container-fluid event-list">#}
        {#<h2 class="article-h1 h1-event-list col-md-5 col-12"><i class="fal fa-calendar"></i> Nous voir</h2>#}
        {#<div class="offset-md-7"></div>#}

        {#{% for leShow in leShows %}#}

            {#{% if leShow.DispoBoolean == true %}#}
                {#{% for event in events %}#}
                    {#{% if show.get_field('field_5cbc31c7f2c13') == event.get_field('field_5cbc31c7f2c13') %}#}
                        {#{% if "now"|date < event.get_field('field_5cb4d81344d45')  %}#}

                            {#<section class="container">#}
                                {#<a class="row event-home-bloc" href="{{ event.link }}">#}
                                    {#<div class="thumb thumb2 col-md-3 d-none d-md-block">#}
                                        {#<img src="{{ show.thumbnail.src }}" alt="thumb">#}
                                    {#</div>#}
                                    {#<h2 class="article-h3 col-12 d-md-none d-block">{{ show.title }}</h2>#}
                                    {#<div class="offset-2 d-md-none d-block"></div>#}
                                    {#<p class="date-list col-md-3 col-8">{{ event.get_field('field_5cb4d81344d45') }}</p>#}
                                    {#<div class="offset-2 d-md-none d-block"></div>#}
                                    {#<p class="salle col-md-3 col-12">{{ event.get_field('field_5cb4e5ba17780') }}</p>#}
                                    {#<p class="col-md-3 col-12">{{ event.get_field('field_5cb4e62317783') }} {{ event.get_field('field_5cb4e63d17784') }}</p>#}
                                {#</a>#}
                            {#</section>#}

                        {#{% endif %}#}
                    {#{% endif %}#}
                {#{% endfor %}#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#</div>#}




{% endblock %}



