<h2 class="article-h1 h1-event-list col-md-3 col-12">
    <i class="fal fa-calendar"></i>
    Nous voir
</h2>
<div class="offset-md-7"></div>

{% for leShow in leShows %}

    {% if leShow.DispoBoolean == true %}

        {% for leEvent in leEvents %}
            {% if  leEvent.leShow == leShow %}

                {%  for place in places %}
                    {% if leEvent.place == place %}
                        {#{% if leShow.get_field('field_5cbc31c7f2c13') == leEvent.get_field('field_5cbc31c7f2c13') %}#}
                        {% if "now"|date < leEvent.date  %}


                            <section class="container event-line">

                                <a class="row event-home-bloc" href="{{path ('admin_event_id', {'id': leEvent.id}) }}">
                                    <div class="thumb  col-md-1 d-none d-md-block">
                                        <img src="{{ asset('assets/uploads/'~leShow.Img1) }}" alt="{{ leShow.ImgAlt1 }}">
                                    </div>
                                    <h2 class="article-h3 col-4 ">{{ leShow.Titre }}</h2>

                                    <p class="date-list col-md-2 col-8">{{ leEvent.Date|date("d/m/Y") }}</p>
                                    <p class="salle col-md-2 col-12">{{ place.Name }}</p>
                                    <p class="col-md-2 col-12">{{ place.Cp }} - {{ place.Commune }}</p>

                                </a>
                            </section>

                        {% endif %}
                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}