<header class="header container-fluid">
    <div class="header_bloc row">
        {# logo #}
        <div class="logo col-6 col-md-2">
            <a href="http://localhost:8000/">
                <img class="logo_fabulle" src="{{ asset('assets/img/logo_faBulle_2019.png') }}" alt="logo">
            </a>
        </div>

        {# Menu Administrateur #}

        <nav class="nav d-none d-lg-block col-lg-8">
            <div class="links d-flex justify-content-around">
                <a href="{{ path('admin_shows') }}">
                    <p class="link" id="popup-header-show-open">
                        Spectacles
                    </p>
                </a>

                <a href="">
                    <p class="link" id="popup-header-event-open">
                        Evènements
                    </p>
                </a>
                <a href="{{ path('admin_posts') }}">
                    <p class="link" id="popup-header-post-open">
                        Articles
                    </p>
                </a>

                <a href="">
                    <p class="link" id="popup-header-places-open" onclick="placeAdminPopup()">
                        Lieux
                    </p>
                </a>
                <a href="{{ path('fos_user_security_logout') }}">
                    <p>
                        logout
                    </p>
                </a>

            </div>
        </nav>

        {#<nav class="dropdown show nav d-lg-none d-block col-2">#}

        {#<a href="#" class="btn btn-secondary dropdown-toggle links" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
        {#<p><i class="fas fa-bars"></i></p>#}
        {#</a>#}
        {#<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">#}
        {#{% for item in menu.items %}#}
        {#<a class="dropdown-item link" href="{{ item.link }}">{{ item.title }}</a>#}
        {#{% endfor %}#}
        {#</div>#}

        {#</nav>#}


    </div>
</header>
