<nav class="dropdown show nav d-lg-none d-block col-2">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fal fa-chevron-circle-down"></i>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{{ path('admin_home') }}">
            <i class="fal fa-home"></i>
        </a>
        <a class="dropdown-item" href="{{ path('admin_shows') }}">SPECTACLES</a>
        <a class="dropdown-item" href="{{ path('admin_posts') }}">Articles/Pages</a>
        <a class="dropdown-item" href="{{ path('admin_events') }}">Évènements</a>
        <a class="dropdown-item" href="{{ path('admin_places') }}">Évènements</a>
    </div>
</nav>